[submodule "fzf"]
	path = fzf
	url = git@github.com:junegunn/fzf.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "vim-plug"]
	path = vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug
