[submodule "fishmarks"]
	path = fishmarks
	url = http://github.com/techwizrd/fishmarks.git
[submodule "zgen"]
	path = zgen
	url = git@github.com:tarjoilija/zgen.git
[submodule "home/.fzf"]
	path = home/.fzf
	url = https://github.com/junegunn/fzf.git
