[user]
	email = david@dgfranklin.com
	name = David Franklin
[core]
	excludesfile = ~/.gitignore_global
[push]
    default = simple
[alias]
    hist = log --all --oneline --graph --decorate
	l = log --pretty=format:'%C(yellow)%h%C(white) %an <%ae> %>|(80)%ai%Creset%n%C(bold)%w(0,4,4)%s%C(reset)%n%+b'
	ll = log --stat
	lg = log
	lp = log -p
	co = checkout
[diff]
	tool = vimdiff
[merge]
    tool = vimdiff
[include]
    path = ~/.gitconfig_local
[pull]
	rebase = true
