[user]
	email = david@dgfranklin.com
	name = David Franklin
[core]
	excludesfile = ~/.gitignore_global
[push]
    default = simple
[alias]
    hist = log --all --oneline --graph --decorate
[diff]
	tool = vimdiff
[merge]
    tool = vimdiff
[include]
    path = ~/.gitconfig_local
[pull]
	rebase = true
